.section-banner {
    width: 100%;
    height: 450px;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    input[type="radio"] {
        display: none;
    }

    input:checked~.slider-content {
        animation: none;
    }

    input:nth-child(1):checked~.slider-buttons label:nth-child(1),
    input:nth-child(2):checked~.slider-buttons label:nth-child(2),
    input:nth-child(3):checked~.slider-buttons label:nth-child(3) {
        background-color: var(--color-primario);

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--hover-color);
            animation: pulse 1s infinite;
        }
    }

    input:nth-child(1):checked~.slider-content {
        transform: translateX(0) !important;
    }

    input:nth-child(2):checked~.slider-content {
        transform: translateX(-100vw) !important;
    }

    input:nth-child(3):checked~.slider-content {
        transform: translateX(-200vw) !important;
    }

    .slider-buttons {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 1;

        label {
            position: relative;
            width: 12px;
            height: 12px;
            background-color: var(--color-primario);
            cursor: pointer;
            border-radius: 50%;
            transition: background-color .3s ease-in-out, scale .3s ease-in-out;

            &:hover {
                background-color: var(--light-color);
                scale: 1.2;
            }
        }
    }
}

.slider-content {
    width: 300vw;
    display: flex;
    height: 100%;
    transition: transform 1s ease-in-out;
    animation: slide 15s infinite;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 300vw;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 55%, rgba(0, 0, 0, .75));
    }

    .slide {
        width: 100vw;
        height: 100%;
        display: flex;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}

/* ANIMACION DEL SLIDER  */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    27.5% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-100vw);
    }

    63% {
        transform: translateX(-100vw);
    }

    70% {
        transform: translateX(-200vw);
    }

    97% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(-200vw);
    }
}

@media screen and (width > 768px) {
    
    .section-banner {
        width: 100%;
        height: 500px;
    }
}